<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'register-form', class: "#{'hidden' unless visibility}" }) do |f| %>

    <div class="form-group">
      <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Confirm Password' %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <%= f.submit 'Register Now', class: 'form-control btn btn-register' %>
        </div>
      </div>
    </div>
<% end %>
