<ol class="breadcrumb">
  <li><%= link_to 'Projects', root_path %></li>
  <li><%= project.title %></li>
</ol>

<div class="row">
  <ul class="nav nav-pills">
    <li role="presentation">
      <% if board_view %>
          <%= link_to project_tasks_path(project) do %>
              Table <span class="glyphicon glyphicon-list"></span>
          <% end %>
      <% else %>
          <%= link_to board_project_tasks_path(project) do %>
              Board <span class="glyphicon glyphicon-th"></span>
          <% end %>
      <% end %>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Members <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% members_for_project(project).each do |member| %>
            <li><a class="content"><%= member %></a></li>
        <% end %>
      </ul>
    </li>
    <li role="presentation" class="pull-right">
      <%= link_to 'Create new task', new_project_task_path(project), class: '' %></li>
  </ul>
</div>

<hr>

<div class="row tag-cloud">
  <span class="glyphicon glyphicon-tags"> </span>
  <% tag_cloud(tags, %w(label-default)) do |tag, css_class| %>
      <%= link_to tag.name, project_tasks_path(project, tag: tag.name), class: "label  #{params[:tag] == tag.name ? 'label-primary' : css_class}" %>
  <% end %>
</div>
<hr>
