<hr>

<%= form_for([project, task], html: { class: 'form-horizontal' }) do |f| %>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Project
      </label>

      <div class="col-sm-6">
        <%= link_to project.title, board_project_tasks_path(project) %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Title <span class="required-field">&#42;</span>
      </label>

      <div class="col-sm-6">
        <%= f.text_field :title, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Description <span class="required-field">&#42;</span>
      </label>

      <div class="col-sm-6">
        <%= f.text_area :description, rows: 5, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Estimated time, hrs
      </label>

      <div class="col-sm-6">
        <%= f.number_field :estimate, min: 1, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Assign to
      </label>

      <div class="col-sm-6">
        <%= f.select :assignee_id, users_for_assign(project), { include_blank: true }, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">
        Tags (separated by commas)
      </label>

      <div class="col-sm-6">
        <%= f.text_field :tag_list, class: 'form-control', value: task.tag_list.to_s %>
      </div>
    </div>

    <div class="col-sm-10">
      <div class="form-group btn-group pull-right" role="group">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', :back, class: 'btn btn-default' %>
      </div>
    </div>
<% end %>

