<h4 class="text-center">
  <%= "#{state.to_s.humanize}" %> <span class="badge"> <%= tasks.size %></span>
</h4>

<ul>
  <% tasks.each do |task| %>
      <li class="well draggable-task" id="<%= "#{state}-#{task.id}" %>">
        <%= link_to task.title, [task.project, task] %>
        <br>
        Assigned for: <%= task_assignee task %>
      </li>
  <% end %>
</ul>