<tr>
  <td><%= link_to task.title, [task.project, task] %></td>
  <td><%= task.human_state_name %></td>
  <td><%= task_assignee task %></td>
  <td><%= task.estimate %></td>
  <td><%= raw task.tag_list %></td>
  <td>
    <%= link_to  edit_project_task_path(task.project, task) do %>
        <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </td>
</tr>