<%= render 'breadcrumbs', project: @project, board_view: true, tags: @tags %>

<div class="row" id="tasks-board">
  <div class="col-md-1"></div>
  <% @tasks_by_states .each do |state, tasks| %>
      <div class="col-md-2 droppable-column" id="<%= state %>">
        <div id="tasks-column-<%= state %>">
          <%= render 'tasks_column', state: state, tasks: tasks %>
        </div>
      </div>
  <% end %>
</div>
