<%= render 'breadcrumbs', project: @project, board_view: false, tags: @tags %>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th>State</th>
    <th>Assignee</th>
    <th>Estimate, hrs</th>
    <th>Tags</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tasks %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @tasks %>
</div>
