<div class="row">
  <div class="col-md-8">
    <h2>
      <%= @task.title %>
    </h2>

    <hr>

    <p>
      <span class="glyphicon glyphicon-tags">    </span>
      <% @task.tag_list.each do |tag| %>
          <span class="label label-info"><%= tag %></span>
      <% end %>
    </p>

    <div class="well well-lg"><%= @task.description %></div>

    <p>
      <strong>State:</strong>
      <%= @task.human_state_name %>
    </p>

    <p>
      <strong>Creator:</strong>
      <%= @task.author_email %>
    </p>

    <p>
      <strong>Assigned to:</strong>
      <%= task_assignee @task %>
    </p>

    <p>
      <strong>Estimated time, hrs:</strong>
      <%= @task.estimate %>
    </p>

    <div class="btn-group pull-right" role="group">
      <%= link_to 'Back', :back, class: 'btn btn-default' %>
      <%= link_to 'Edit', [:edit, @task.project, @task], method: :get, class: 'btn btn-default' %>
      <%= link_to('Delete', [@task.project, @task], method: :delete, class: 'btn btn-default') if current_user == @task.author %>
    </div>
  </div>

  <div class="col-md-4">
    <h4>Available actions:</h4>

    <ul class="action-list">
      <% @task.state_events.each do |event| %>
          <li>
            <%= button_to event.to_s.humanize, fire_event_path(@task, event), method: :post, class: 'btn btn-info' %>
          </li>
      <% end %>
    </ul>
  </div>
</div>