<% @tasks_by_states.each do |state, tasks| %>
$('#tasks-column-<%= state %>').html("<%= escape_javascript render 'tasks/tasks_column', state: state, tasks: tasks %>");
<% end %>
init_tasks_board();
//$('#flash').html("<%#= escape_javascript render 'layouts/flash' %>");
