<tr>
  <td><%= link_to project.title, board_project_tasks_path(project) %></td>
  <td><%= project.description %></td>
  <td><%= project.total_tasks %></td>
  <td><%= project.total_members %></td>
  <td><%= l project.created_at, format: :date %></td>
</tr>