<ol class="breadcrumb">
  <li class="active">Projects</li>
</ol>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Total tasks</th>
      <th>Total members</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>

