<div class="container">
  <!--<div class="row">-->
    <!--<div class="col-lg-6 col-lg-offset-3">-->
      <!--<div class="alert alert-danger alert-dismissible" role="alert">-->
        <!--<button type="button" class="close" data-dismiss="alert">-->
          <!--<span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
        <!--Username must be a minimum of 4 characters.<br>Password is required<br></div>-->

    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login-form' }) do |f| %>
                  <div class="form-group">
                    <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
                  </div>
                  <div class="form-group text-center">
                    <%= f.check_box :remember_me %>
                    <label for="remember"> Remember Me</label>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <%= f.submit 'Log in', class: 'form-control btn btn-login' %>
                      </div>
                    </div>
                  </div>
              <% end %>
              <%= render partial: 'devise/registrations/reg_form', locals: { visibility: false } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>