#tasks-board
  ul
    margin: 0
    padding: 0
    list-style-type: none
  .well
    border-radius: 0 !important
    &:hover
      background: #dddddd
    > a
      &:hover, &:link, &:visited
        text-decoration: none
        color: #275584

.droppable-active
  background: #ebebeb

.droppable-hover
  background: #44A8E7

.tag-cloud
  .small
    font-size: 1.0em

  .medium
    font-size: 1.2em

  .large
    font-size: 1.4em
