<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'YATT', root_path, class: 'navbar-brand' %>
    </div>

    <% if current_user %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'Admin Dashboard', rails_admin.dashboard_path if current_user.admin? %>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <span class="navbar-text">Signed in as <%= current_user.email %></span>
            </li>
            <li>
              <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
    <% end %>

  </div>

</nav>