<!DOCTYPE html>
<html>
<head>
  <title>YetAnotherTaskTracker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/header' %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
